* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  display: grid;
  height: 100vh;
  grid-template-areas:
    "header header header header "
    "nav a a a"
    "nav a a a"
    "nav b b b"
    "nav b b b"
    "nav c c c"
    "nav c c c";
}

header {
  width: 100%;
  background-color: black;
  grid-area: header;
  margin-bottom: 50px;
}

nav {
  border: 5px solid black;
  grid-area: nav;
  padding: 35px;
  margin: 30px 30px 30px 0;
}

article {
  border: 5px solid black;
  margin: 0 30px 30px;
}

.a {
  grid-area: a;
  background-color: red;
}

.b {
  grid-area: b;
  background-color: green;
}

.c {
  grid-area: c;
  background-color: violet;
}

footer {
  height: 20px;
  width: 100%;
  background-color: black;
  position: absolute;
  margin-top: 30px;
  bottom: 0;
}

li {
  margin: 20px;
}

a {
  text-decoration: none;
  color: black;
}
