.answer {
  color: darkgreen;
}

.formik {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 330px;
  height: 250px;
  border: 1px solid black;
  padding: 10px;
  background-color: whitesmoke;
}

input:invalid {
  border: 3px solid red;
}
