* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mid {
  display: grid;
  grid-template-areas: "navfill mejn mejn mejn mejn";
}

.hidden {
  visibility: hidden;
  display: none;
}

main {
  display: flex;
  height: 80vh;
  grid-area: mejn;
  flex-wrap: wrap;
  margin: 20px;
}

nav {
  position: fixed;
  padding: 30px;
  left: 0;
  width: 15vw;
  height: 40vh;
  border: 2px solid black;
}
.navfill {
  grid-area: navfill;
  width: 15vw;
}

.klocek {
  width: 20vw;
  height: 30vh;
  margin: 30px;
  padding: 20px;
  border: 2px solid black;
}

footer {
  background-color: black;
  height: 12vh;
  width: 100%;
  position: fixed;
  margin-top: 20px;
  bottom: 0;
}

header {
  background-color: black;
  height: 8vh;
  width: 100%;
}

ul {
  list-style: none;
}
