<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block css%} {% endblock %}
  </head>
  <body>
    <nav>
      <div class="belka">
        <div class="orange"></div>
      </div>
      <ul>
        <li><a href="{% url 'nauka' %}">Pytania Rekrutacyjne</a></li>
        <li><a href="{% url 'podstawy' %}">Podstawy JS</a></li>
      </ul>
    </nav>
    <main>{% block content %} {% endblock %}</main>
    <footer></footer>
  </body>
</html>
