<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@400&display=swap"
      rel="stylesheet"
    />
    {% block css%} {% endblock %}
  </head>
  <body>
    <nav>
      <div class="belka">
        <div class="orange"></div>
      </div>
      <ul class="menu">
        <li class="logo">
          <img class="edu" src="{% static 'img/edu.jpg'%}" alt="" />
        </li>
        <li><a class="menu-item --up" href="{% url 'index' %}">Home</a></li>
        <li>
          <a class="menu-item --up" href="{% url 'nauka' %}">
            Pytania Rekrutacyjne
          </a>
        </li>
        <li>
          <a class="menu-item --up" href="{% url 'podstawy' %}">Podstawy JS</a>
        </li>
      </ul>
    </nav>
    <main>{% block content %} {% endblock %}</main>
    <footer></footer>
  </body>
</html>
