{% extends 'base.html' %} {% block title %} Podstawy JSssssssss {% endblock %}
{% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/podstawy.css' %}" /> {% endblock %}
{% block content%}

<section class="side-menu">
  <li><a href="#">Python</a></li>
  <li><a>MAster</a></li>
  <li><a>Python</a></li>
  <li><a>Python</a></li>
  <li><a>Python</a></li>
  <li><a>Python</a></li>
</section>
<section class="work_space"></section>

<script src="{% static 'js/podstawy.js' %}"></script>
{% endblock%}
