{% extends 'base.html' %} {% block title %} Podstawy JSssssssss {% endblock %}
{% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/podstawy.css' %}" /> {% endblock %}
{% block content%}

<div class="mid">
  <section class="side-menu">
    <li><a href="#">Python</a></li>
    <li><a>MAster</a></li>
    <li><a>Python</a></li>
    <li><a>Python</a></li>
    <li><a>Python</a></li>
    <li><a>Python</a></li>
  </section>
  <section class="navfill"></section>
  <section>
    <ul>
      <li><a href="{% url 'index' %}">HOME</a></li>
    </ul>
  </section>
  <section class="cards"></section>
</div>

<script src="{% static 'js/podstawy.js' %}"></script>
{% endblock%}
